* {
    margin: 0;
    padding: 5px;
}

body {
    display: grid;
    grid-template:
        "a1 h a2"
        "a1 ul a2";
    grid-template-columns: 2fr 4fr 2fr;     
    width: 100vw;
    height: 100vh;
}

header {
    padding: 5px;
    grid-area: h;
    background-color: darkgray;
    height: 19vh;
}

.a1 {
    padding: 5px;
    grid-area: a1;
    background-color: grey;
}

.a2 {
    padding: 5px;
    grid-area: a2;
    background-color: grey;
}

ul {
    grid-area: ul;
    list-style-type: none;
    height: 80vh;
}

li {
    border: solid grey 1px;
    height: 6.3vh;
}