body {
    margin: 0;
    display: grid;
    background-color: black;
    grid-template:
        "h h"
        "m a1"
        "m a2"
        "f f";
    grid-template-rows: 1.5fr 5fr 5fr 2fr;        

    width: 100vw;
    height: 100vh;       
}

header {
    margin: 0;
    grid-area: h;
    background-color: white;
}

.a1 {
    grid-area: a1;
    background-color: lightgrey;
}

.a2 {
    grid-area: a2;
    background-color: gray;
}

main {
    grid-area: m;
    background-color: darkgray;
}

footer {
    grid-area: f;
    background-color: lightgrey;
}